<launch>
    <arg name="rviz_file" default="$(find stage_simulation)/rviz/stage.rviz" />

    <param name="use_sim_time" value="true"/>

    <!-- stage -->
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(find stage_simulation)/stage/eurobot_2022.world" output="screen">
        <remap from="base_scan" to="scan"/>
    </node>
    <node pkg="stage_simulation" type="ground_truth.py" name="pub_ground_truth" output="screen"/>

    <!-- map -->
    <arg name="map_file" default="$(find stage_simulation)/maps/eurobot_scenario/eurobot_2022.yaml"/>
    
    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(arg rviz_file)" />
    
</launch>
